body{
    font-family: poppins;
}
.container{
    width: 100%;  
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.logo p{
    font-family: lobster;
    font-size: 30px;
}
.logo p span{
    color: yellow;
}
.c1{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 50%;
    height: 650px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(250,250,250);
}
.rain{
    position: absolute;
    top: 210px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    
}
.rain p:first-child{
    font-size: 25px;
}
.rain p:nth-child(2){
    font-size: 15px;
}
.rain button{
    margin-top: 100px;
    margin-left: 20px;
    background-color: #F6B400;
    height: 35px;
    border: 2px;
    border-color: yellow;
    border-radius: 20px 20px 0px 20px;
}
.c2{
    width: 50%;
    height: 650px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
.c23{
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
    width: 98%;
    
    align-items: center;
    align-content: center;
    
}
.c23 a:link{
    padding: 20px;
    padding-left: 0px;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    float: left;
}
.c23 img{
    height: 40px;
    width: 40px;
    background-color: #E1EBE6;
    margin-left: 70px;
    
}
.c234{
    width: 400px;
    height: 400px;
    
    
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    
}
.c234 img{
    width: 80%;
    margin-left: 50px;
    margin-top: 0px;
    border: 0px;
}
.wrapper{
    
    position: relative;
    top: 650px;
    width: 100%;
    height: 600px;
    display: flex; 
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gainsboro;
   
    
    align-content: center;
    
}
.d1 , .d3{
    width:30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid maroon;
    margin-top:20px;
    padding: 5px;
}
.d1 p:nth-child(2), .d2 p:nth-child(2), .d3 p:nth-child(2){
    font-size: 15px;
    font-weight: lighter;
    
}
.d1 p:first-child, .d2 p:first-child, .d3 p:first-child{
    color: maroon;
    font-weight: bold;
}
.d2{
    height:300px;
    width: 30%;
    padding: 5px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid maroon;
    border-radius: 10px;
}
.d2 p:nth-child(2){
    font-size: 15px;
    font-weight: lighter;

}
